body{
    color:antiquewhite;
}
p{
    color:green;

}
h1{
    color:bisque;
}
div{
    color:black;
}
.class1{
    color:blue;
    margin:10px;
    padding: 10px;
    border:2px solid blanchedalmond;
    
}
.div{
    margin:20px;
    background-color: cadetblue;
    color:beige;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
}

.div li{
    display: inline-block;
    color:aquamarine;
    padding: 20px;
    list-style:none;
}
.class3{
  box-sizing: border-box;
  margin:10px;
  padding:10px;
  border:2px;
  background-color: rgb(2, 38, 38);
}
.class4{
    box-sizing: border-box;
    margin:12px;
    border:2px solid black;
    padding: 12px;
    background-color: cadetblue;
}
.class4 tr,th,td{
    padding: 12px;
    color:brown;
    

}
