body{
    color:antiquewhite;
}
p{
    color:green;

}
h1{
    color:bisque;
}
div{
    color:black;
}
.class1{
    color:blue;
    margin:10px;
    padding: 10px;
    border:2px solid blanchedalmond;
    
}
